* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Background*/
#upper-background {
  position: absolute;
  background:red;
  width: 100vw;
  height: 100vh;
  background: url('http://farm1.staticflickr.com//447//19585243302_fae38fd86f_o.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  z-index: -1;
}
#lower-background {
  position: absolute;
  -webkit-clip-path: polygon(100vw 0, 0% 100%, 100vw 100vh);
  clip-path: polygon(100vw 0, 0% 100vh, 100vw 100vh);
  background: url('https://farm9.staticflickr.com/8644/15964625458_d5c6d431ac_k.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
  z-index: -1;
}
#card {
  width: 500px;
  height: 750px;
  max-width: calc(100vw - 10px);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 30px 25px 40px rgba(0,0,0,.8);
}

/*Profile*/
#profile {
  width: 100%;
  height: 45%;
  background-color: #dfd8c8;
  border-radius: 10px 10px 0px 0px;
}
#profile-image {
  padding: 10px;
}
img {
  height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px 5px 5px 5px;
}
img:hover {
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
#name-headline {
  text-align: center;
}
#name, #profession, #location, #mail {
  padding: 5px;
  font-family: sans-serif;
}

/*Paragraph*/
#paragraph {
  background-color: #1d1e22;
  background-size: 10px 10px;
  width: 100%;
  height: 45%;
  border-radius: 0px 0px 10px 10px;
}
#paragraph-divider {
  width: 50%;
  height: 5%;
  background-color: rgb(0, 230, 0);
  border-radius: 0px 7px 7px 0px;
}
#paragraph-text {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  text-align: center;
  overflow: auto;
}

/*Links*/
#links {
  background-color: #dfd8c8;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
ul {
  position: relative;
  list-style-type: none;
  height: 100%;
  padding: 15px 0px 0px 0px;
}
li {
  display: inline;
  height: 30px;
  font-size: 30px;
  padding: 30px;
}
i {
  color: black;
}
